h1 {
    /* font-family: 'Coming Soon'; */
    font-family: 'Comfortaa';
    font-size: 28px;
    line-height: 32px;
}

h2 {
    /* font-family: 'Coming Soon'; */
    font-family: 'Comfortaa';
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 10px;
}

p {
    /* font-family: 'Coming Soon'; */
    font-family: 'Comfortaa';
    font-size: 22px;
    line-height: 32px;
}

div.card {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    border-style: solid;
    background-color: #EDEDED;
    width: auto;
    height: auto;
}

#top {
    margin: auto;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    border-style: solid;
    background-color: #EDEDED;
    width: auto;
    border-radius: 40px;
}

#milestone {
    margin-top: 100px;
    margin-left: 80px;
    border-style: solid;
    background-color: #EDEDED;
    max-width: 150px;
    border-radius: 40px;
}

div.achiev {
    display: inline-block;
    position: relative;
    border-style: solid;
    border-color: #54DD69;
    background-color: #87FF8B;
    width: 300px;
    border-radius: 40px;
}

div.rt {
    display: inline-block;
    position: relative;
    border-style: solid;
    border-color: #8257A7;
    background-color: #A379C980;
    width: 300px;
    height: auto;
    border-radius: 40px;
}

div.one {
    left: 100px;
}

div.two {
    left: 250px;
}

div.three {
    left: 400px;
}

div.card-body {
    padding: 10px;
    text-align: center;
}

div.ach {
    padding: 30px;
}
div.compl {
    display: inline-block; 
    position:relative; 
    border-style: solid; 
    border-color: #22AABB; 
    background-color: #22AABB80; 
    width: 300px;
    border-radius: 40px;
}

#recType {
    margin-top: 100px;
    margin-left: 80px;
    border-style: solid;
    background-color: #EDEDED;
    max-width: 200px;
    border-radius: 40px;
}

p.card-text {
    text-align: center;
    font-family: 'Comfortaa';
}

p.header {
    font-size: 80px;
    padding-top: 15px;
    font-size: 60px;
    font-family: 'Comfortaa';
}

hr.one {
    border-color: #54DD69
}

hr.two {
    border-color: #8257A7
}

hr.three {
    border-color: #22AABB
}

img {
    width: 100px;
    position: relative;
    align-self: center;
    padding-top: auto;
    padding-bottom: auto;
}

img.notSoup {
    padding-top: 18px;
}

button {
    /* font-family: 'Coming Soon'; */
    font-family: 'Comfortaa';
    font-size: 20px;
    line-height: 20px;
    border-radius: 40px;
}

button.toAll {
    background-color: #C59BEB;
    padding: 10px;
    width: 50%;
}
/* button.back {
    background-color: #C59BEB; 
    padding: 10px; 
    padding-right: 150px; 
    width: auto; 
    position: absolute; 
    margin-top: 275px
} */

.bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 1.65vw;
    width: 30vw;
    height: 20vh;
    background: #EFEFEF;
    border-radius: 40px;
    padding: 1.5vw;
    text-align: center;
    color: #000;
    position: relative;
    left: 35vw;
    top: 4vh;
}
  
.bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #EFEFEF;
    border-right: 12px solid transparent;
    border-top: 12px solid #EFEFEF;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}

.bubble-bottom-right:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #EFEFEF;
    border-right: 12px solid transparent;
    border-top: 12px solid #EFEFEF;
    border-bottom: 20px solid transparent;
    left: 25vw;
    bottom: -4vh;
    transform: rotate(90deg);
}
  
img.cookie {
    display: inline-block; 
    width: 30%; 
    position: absolute; 
    right: 10%
}