
#backgroundImage {
  background-image: url(../images/cookbook-bg.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.speech-bubble {
  position: relative;
  margin: .5em auto;
  padding: 1em;
  width: 10vw; height: 20vw;
  border-radius: .25em;
  transform: rotate(-4deg) rotateY(15deg);
  background: #629bdd;
  font: 2vw Century Gothic, Verdana, sans-serif;
  text-align: center;
}
.speech-bubble:before, .speech-bubble:after {
  position: absolute;
  z-index: -1;
  content: '';
}
.speech-bubble:after {
  top: 0; right: 0; bottom: 0; left: 0;
  border-radius: inherit;
  transform: rotate(2deg) translate(.35em, -.15em) scale(1.02);
  background: #e5eef2;
}
.speech-bubble:before {
  border-right: solid 3.5em #e5eef2;
  border-bottom: solid .25em #629bdd;
  bottom: .25em; left: 1.25em;
  width: 0; height: 1em;
  transform: rotate(45deg) skewX(75deg);
} 

.cookbookContent {
  background-color: #C59BEB;
  position: absolute;
  top: 45%;
  left: 43%;
  border-radius: 25px;
}

.pastaImage {
  background: white;
  margin: 2%;
  border-radius: 20px;
  border: 1px solid black;
}

.pastaRecord {
  border: 1px solid black;
  width: 100%;
  display: flex;
  border-radius: 25px;
}

.pastaInfo {
  background: inherit;
  width: 30vw;
  margin: 2%;
}

.pastaNotes {
  background: inherit;
  display: flex;
}

#editRecord, #stopEdit {
  display: flex;
  align-items: center;
  height: 8vh;
  width: 5vw;
  position: absolute;
  left: 85%;
  top: 70%;
  background: inherit;
  border: none;
}

#stopEdit {
  visibility: visible;

}

#editRecord {
  visibility: hidden;
}

.cookyContainer {
  position: absolute;
  top: 525px;
  left: 950px;
}

.notesContainer {
  width: 70%;
}

#pastaNotes{
  background: white;
  margin-left: .5%;
  width: 40%;
  height: 8vh;
  border: 1px solid black;
  border-radius:10px;
  visibility: visible;
  position: absolute;
  top: 38%;
  left: 47%;
}

#pastaNoteText {
  visibility: hidden;
}

#editPhoto {
  background: none;
  position: absolute;
  top: 10%;
  left: 6%;
  border: none;
  visibility: visible;
}

#pastaPicture {
  visibility: hidden;
  width: 558px;
  height: 416px;
  background: rgba(135, 255, 139, 1);
  opacity: 1;
  position: absolute;
  top: 25%;
  left: 35%;
  overflow: hidden;
  border: 1px solid black;
}

.popupInstructions {
  width: auto;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  margin-top: 25%;
  left: 15%;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
}

.popupTitle {
  width: auto;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 23px;
  left: 27px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}

.or {
  width: 40px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 284px;
  left: 80px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}

.chooseFileButton,
.confirmButton {
  width: 273px;
  height: 71px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 142px;
  border: 2px solid rgba(0, 0, 0, 1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
}

.exitButton {
  width: 33px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2%;
  left: 90%;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}

.closeButton {
  background: rgba(135, 255, 139, 1);
  border: none;
}